<h2>Product page: </h2>
<div>
  Name - {{product.name}}
  <br>
  Description - {{product.description}}
  <br>
  Price - {{product.price}}
  <br>
  Category - {{categoryType[product.category]}}
  <br>
  Available - {{product.isAvailable}}
  <br>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Ingredients</div>
  <div class="panel-body">
  <ul>    
      <li *ngFor="let ingr of product.ingredients">
        {{ingr}}
      </li>
  </ul>
  </div>
</div>
<div> 
  <label for="countLbl">Amount</label>
  <input type="number" id="countLbl" min="0" #count>
  <button class="btn btn-success" (click)="addToCart(count.value)">Add to cart</button>
</div>

